<%-include('../includes/head.ejs')%>
    <title><%=docTitle%></title>
    <link rel="stylesheet" href="cart.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div>
                <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/product-list">Shop</a></li>
                <li><a href="/add-product">Add Products</a></li>
                <li><a href="/product-details">Product Details</a></li>
                <li><a href="/admin-product">Admin Product</a></li>

            </ul>
            </div>
            <div class="cart-icon">
                <ul><li><a class="<%= path==='/cart' ? 'active' : '' %>" href="/cart"><img src="/assets/shoppingcart.png" alt="Cart"></a></li></ul>
            </div>
        </nav>
    </header>    
    <main class="main-body">
        <%if (cart.length>0) { %>
            <ul class="list">
                <% cart.forEach(product=>{ %>
                    <li><p><%=product.productData.title%> (<%=product.qty%>)</p>
                       <form action="/cart-delete-item" method="post">
    <input type="hidden" name="productId" value="<%= product.productData.id %>">
    <button class="btn">Delete</button>
</form>

                    </li>
                <%})%>
            </ul>
        <% }else{ %>

            <h1>No products added to the cart</h1>

        <% } %>
    </main>
</body>
</html>