<%-include('../includes/head.ejs')%>
    <title><%=docTitle%></title>
    <link rel="stylesheet" href="/shop.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div>
                <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/product-list">Shop</a></li>
                <li><a href="/add-product">Add Products</a></li>
                <li><a  class="<%= path==='/product-details' ? 'active' : '' %>"href="/product-details">Product Details</a></li>
                <li><a href="/admin-product">Admin Product</a></li>

            </ul>
            </div>
            <div class="cart-icon">
                <ul><li><a href="/cart"><img src="/assets/shoppingcart.png" alt="Cart"></a></li></ul>
            </div>
        </nav>
    </header>    
    <main class="main-body">
        <h1>
            <%=prod.title%>
        </h1>
        <div class="product-info">
            <div class="image-holder">
                <img src="<%=prod.imageUrl%>">
            </div>
            <div class="product-details">
                
                <p>
                    <%=prod.description%>
                </p>
                <br>
                <p style="color:#016465">
                    Price: $<%=prod.price%>
                </p>
                <form action="/cart" method="post">
                    <button class="btn">Add To Cart</button>
                    <input type="hidden" name="productId" value="<%=prod.id%>">
                </form>
                
        </div>
    </main>
</body>
</html>